<!DOCTYPE html>
<html>
  <% include head.ejs %>

  <body>
    <% include header.ejs %>
    <main>
      <% include mobile.ejs %>
      <div class="content"><%- _body -%></div>
    </main>
  </body>
</html>
