<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title><%= title %></title>
  <meta name="author" content="<%= author %>" />
  <!-- <base href="<%= _base %>" /> -->

  <style id="preload-no-transitions">
    * {
      transition: none !important;
    }
  </style>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen|Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:700|Roboto:700">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/docco.min.css" integrity="sha256-HdMkUblxLlxXyL1IBqq4GzxzFC2VUz0LYdfoYfpVqzU=" crossorigin="anonymous" />

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="<%= _base %>main.css" />
  <link rel="stylesheet" href="<%= _base %>layout.css" />
  <link rel="stylesheet" href="<%= _base %>content.css" />
  <script async src="<%= _base %>main.js"></script>
</head>