<header>
  <div class="inner">
    <h1><i class="mobile material-icons">menu</i></h1>
    <h1><a href="<%= _base %>"><%= global.title %></a></h1>
    <nav class="main"><% for (const key in global.menu) { %>
      <% const item = global.menu[key] %>
      <a href="<%= _base + key %>"><i class="fa fa-<%= item.icon %>"></i><%= item.title %></a>
    <% } %></nav>
  </div>
</header>