<!DOCTYPE html>
<html>
  <% include head.ejs %>

  <body>
    <% include header.ejs %>
    <main>
      <% include mobile.ejs %>
      <nav class="left"><% if ('nav' in locals && nav) { %>
        <% for (let section in nav) { %>
          <% if (section == '_root') continue %>
        <ul>
          <li><%= section %></li>
          <% for (let entry in nav[section]) { %>
          <li><a href="<%= `${_base}${nav._root}${nav[section][entry] || ''}` %>"><%= entry %></a></li>
          <% } %>
        </ul>
        <% } %>
      <% } %></nav>
      <nav class="right"><% if ('toc' in locals && toc) { %>
        <% for (let entry of toc) { %>
        <ul>
          <li><a href="#<%= entry.link %>"><%= entry.text %></a></li>
          <% for (let child of entry.children) { %>
          <li><a href="#<%= child.link %>"><%= child.text %></a></li>
          <% } %>
        </ul>
        <% } %>
      <% } %></nav>
      <div>
        <a class="edit" target="_blank" href="<%= _edit %>" title="edit this page"><i class="fa fa-pencil"></i></a>
        <div class="content">
          <%- _body -%>
        </div>
      </div>
    </main>
  </body>
</html>
