<nav class="mobile">
  <div class="inner">
    <ul><% for (const key in global.menu) { %>
      <% const item = global.menu[key] %>
      <li><a href="<%= _base + key %>"><i class="fa fa-<%= item.icon %>"></i><%= item.title %></a></li>
    <% } %></ul>
    <% if ('nav' in locals && nav) { %>
      <hr />
      <% for (let section in nav) { %>
        <% if (section == '_root') continue %>
      <ul>
        <li><%= section %></li>
        <% for (let entry in nav[section]) { %>
        <li><a href="<%= `${_base}${nav._root}${nav[section][entry] || ''}` %>"><%= entry %></a></li>
        <% } %>
      </ul>
      <% } %>
    <% } %>
  </div>
</nav>