.content {
    padding: 1rem 0;
}

.content > :first-child {
    margin-top: 0;
}

.content a {
    transition: 0.1s;
    color: hsl(200, 60%, 40%);
    text-decoration: underline;
}

.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
    text-decoration: none;
}

.content a:hover {
    color: hsl(210, 90%, 60%);
}

.content blockquote {
    margin: 1em 0 1em 2em;
    border-left: 0.25em solid hsl(0, 0%, 80%);
    padding: 0.25em 0 0.25em 0.75em;
    color: hsl(0, 0%, 50%);
}

.content blockquote > :first-child {
    margin-top: 0;
}

.content blockquote > :last-child {
    margin-bottom: 0;
}

.content ul {
    padding-left: 2em;
}

.content li {
    line-height: 1.6em;
}

.content pre {
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    background: hsl(0, 0%, 97%);
    border-radius: 5px;
}

.content pre > code {
    padding: 1em;
    background: none;

    display: block;
    overflow-x: auto;
}

.content :not(pre) > code {
    padding: 2px 4px;
    font-size: 90%;
    border: 1px solid hsl(0, 0%, 90%);
    background: hsl(0, 0%, 95%);
    border-radius: 3px;
}

.content p {
    line-height: 1.4em;
}