header {
    background: hsl(220, 50%, 40%);
}

header > .inner {
    display: flex;
    padding: 0.8rem 0;
}

header > .inner .mobile {
    color: white;
    margin-right: 1rem;
    cursor: pointer;
}

header > .inner > h1 {
    margin: 0;
    font-weight: bold;
}

header > .inner > h1 > a {
    color: white;
}

nav.mobile {
    overflow-x: hidden;
    background: hsl(220, 50%, 60%);
    font-size: 1.1rem;

    width: 0;
    height: 100%;
    transition: 0.2s;

    position: absolute;
    left: 0;
}

nav.mobile.open {
    width: 200px;
}

nav.mobile > .inner {
    width: 200px;
}

nav.mobile a {
    color: white;
}

nav.mobile i {
    margin-right: 1rem;
}

nav.mobile hr {
    border: 1px solid hsl(220, 50%, 70%);
}

nav.mobile li:first-child {
    color: hsl(225, 8%, 20%);
    font-weight: bold;
}

nav.main {
    display: flex;
    align-items: flex-end;
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

nav.main > a {
    margin-left: 1.5rem;
    color: hsl(225, 4%, 90%);
    font-weight: bold;
    transition: 0.2s;
}

nav.main > a > i.fa {
    margin-right: 0.4rem;
    font-size: 0.8em;
    color: hsl(225, 3%, 75%);
    position: relative;
    bottom: 0.1em;
    transition: 0.2s;
}

nav.main > a:hover {
    color: hsl(200, 80%, 45%);
}

nav.main > a:hover > i.fa {
    color: hsl(200, 70%, 40%);
}

main {
    background: hsl(240, 10%, 100%);
    position: relative;
    flex: 1;
}
@media only screen and (min-width: 1720px) {
    main, header > .inner {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1720px) and (min-width: 901px) {
    main, header > .inner {
        margin-left: 220px;
    }

    main {
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 1500px) {
    main, header > .inner {
        width: 1280px;
    }
}

@media only screen and (min-width: 1001px) {
    nav.right:not(:empty) + div {
        margin-right: 220px;
    }
}

@media only screen and (max-width: 1000px) {
    nav.right {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    header > .inner {
        margin: 0 1rem;
    }

    main > div {
        margin: 0 1rem;
    }

    nav.left {
        display: none;
    }
}

@media only screen and (min-width: 801px) {
    header > .inner .mobile {
        display: none;
    }

    nav.mobile {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    nav.main {
        display: none;
    }
}

nav:empty {
    display: none;
}

nav.left {
    position: absolute;
    left: -220px;
    width: 200px;
    font-size: 1.1rem;
}

nav.right {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

main > nav {
    margin-top: 1rem;
}

main > nav ul {
    margin: 0.8rem 0.5rem;
    list-style: none;
    padding: 0;
}

main > nav > ul:first-child {
    margin-top: 0;
}

main > nav > ul:last-child {
    margin-bottom: 0;
}

main > nav li {
    padding: 0.3rem;
}

main > nav li > a {
    color: hsl(0, 0%, 40%);
}

main > nav li.active > a {
    color: hsl(205, 70%, 60%);
}

main > nav li > a:hover {
    color: hsl(205, 80%, 60%);
}

main > nav > ul > li:first-child {
    font-weight: bold;
    color: hsl(205, 60%, 60%);
}

a.edit {
    margin-top: 1rem;
    transition: 0.1s;
    color: hsl(225, 3%, 75%);
    font-size: 1.5rem;
    float: right;
}

a.edit:hover {
    color: hsl(225, 3%, 25%);
}