html {
    font-family: Oxygen, Roboto, sans-serif;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-flow: column;
}

pre, code {
    font-family: Hack, monospace;
}

alert {
    font-weight: bold;
    color: red;
}

a {
    text-decoration: none;
}

a.external > i {
    font-size: 0.8em;
    margin-left: 0.2em;
}